<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSharpSeleniumTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSharpSeleniumTemplate.Properties.Settings>
            <setting name="BROWSER" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="EXECUTION" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="SELENIUM_HUB" serializeAs="String">
                <value />
            </setting>
            <setting name="DEFAULT_TIMEOUT_IN_SECONDS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DB_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_CONNECTION_TIMEOUT" serializeAs="String">
                <value />
            </setting>
            <setting name="REPORT_PATH" serializeAs="String">
                <value>C:\Users\jose.mario\Desktop\Reports\Outros\</value>
            </setting>
            <setting name="REPORT_NAME" serializeAs="String">
                <value>CSharpSeleniumTemplateReport</value>
            </setting>
            <setting name="DEFAUL_APPLICATION_URL" serializeAs="String">
                <value>http://blackmirror.crowdtest.me/users/sign_in</value>
            </setting>
            <setting name="DEFAUL_USER" serializeAs="String">
                <value>diego.marinho@base2.com.br</value>
            </setting>
            <setting name="DEFAUL_PASSWORD" serializeAs="String">
                <value>123456</value>
            </setting>
        </CSharpSeleniumTemplate.Properties.Settings>
    </userSettings>
</configuration>